<a href="https://colab.research.google.com/github/Masterdual/orm2/blob/main/%EB%AA%A8%EB%91%90%EC%97%B03%EC%A3%BC%EC%B0%A8%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 반복문

In [1]:
# 함수
def 함수명():
    pass

In [ ]:
#조건문
if 조건:
    pass

In [ ]:
#반복문
for 변수명 in 순회_가능한_객체:
    pass # 수행할_문장

In [4]:
#반복문 기초 - 문자열
#1. 'hello'를 순서대로 하나씩 단어를 꺼내서
#2. x에 하나씩 넣은 다음에
#3. 하나씩 for문 아래 코드블럭을 수행한다
#4. 그리고 순서가 마쳐지면 -> 다음 시퀀스(순서)로 넘어가서 똑같은 작업을 수행한다

for x in 'hello': #순회 가능한 객체가 들어간다 -> 문자열 / 리스트 / 다른 데이터셋 / range(10) / 기타등등
    print(f'현재 값은 {x} 입니다')

현재 값은 h 입니다
현재 값은 e 입니다
현재 값은 l 입니다
현재 값은 l 입니다
현재 값은 o 입니다

In [5]:
for x in (1, 2, 3, 4, 5):
    print(f'현재 값은 {x} 입니다.')

현재 값은 1 입니다.
현재 값은 2 입니다.
현재 값은 3 입니다.
현재 값은 4 입니다.
현재 값은 5 입니다.

In [6]:
s = 'hello world'
for i in s:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [8]:
s = '123'
result = 0
for i in s:
    result += int(i)

print(result)

6

In [11]:
단어_사전 = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for i in 단어_사전.items():
    print(i)

('하나', 'one')
('둘', 'two')
('셋', 'three')

In [12]:
# 짝수코드 작성!
#리스트라면 비어있는 리스트라도 만들어야한다 result = []
# 비어있는 자료형도 자료형이다 none도 자료형이다

result = 0
for i in range(101): # 0~100까지 시퀸스 자료형 불러온다
    if i % 2 == 0:   # 0~100까지 중에서 짝수만 취급
        result += i  # 짝수를 가져와서 누적으로 더한다 0, 2, 4, 6, ... 100 까지 더한다.
print(result) # 출력한다.

2550

In [14]:
# 홀수 코드 작성!

result = 0
for i in range(101): # 0~100까지 시퀸스 자료형 불러온다
    if i % 2 == 1:   # 0~100까지 중에서 홀수만 취급
        result += i  # 짝수를 가져와서 적으로 더한다 1, 3, 5, 7, ... 99 까지 더한다.
print(result)

2500

# 2.중첩 반복문

In [15]:
# code1
for i in [[1, 2], [10, 20], [100, 200]]:
    print(i)

[1, 2]
[10, 20]
[100, 200]

In [16]:
# code2
for j in [1, 2]:
    print(j)

1
2

In [25]:
# 리스트안에 리스트를 나열하는 방법

for i in [[1, 2], [10, 20], [100, 200]]:
    for l in i:
        print(l)

1
2
10
20
100
200

In [26]:
#1. 방듬처럼 구조를 정한다.
#2. 최소한의 반복문만 수행해본다.
#3. 각 반복문을 print()해본다.

In [ ]:
#1. i = [1,2]
#2. print(i) -> [1,2] -> 원래는 생략이 가능하다

In [39]:
for i in [[1, 2], [10, 20], [100, 200]]:
    print(i)
    print(sum(i))
    for l in i:
        print(l)

[1, 2]
3
1
2
[10, 20]
30
10
20
[100, 200]
300
100
200

In [37]:
for l in i:
    print(l)

100
200

In [ ]:
for i in range(2, 10): # 2~9까지 i의 범위에 들어간다
    print(f'---{i}단---') # 2단 먼저 실행후 마지막 9단 실행
    for j in range(1, 10): # 1~9까지 j의 범위에 들어간다
        print(f'{i} X {j} = {i * j}') # 두숫자의 범위내에 순차적으로 반복해서 출력

In [ ]:
for i in range(2, 20): # 2~19까지 i의 범위에 들어간다
    print(f'---{i}단---') # 2단 먼저 실행후 마지막 9단 실행
    for j in range(1, 20): # 1~19까지 j의 범위에 들어간다
        print(f'{i} X {j} = {i * j}') # 두숫자의 범위내에 순차적으로 반복해서 출력

#2.2 리스트 컴프리핸션

In [44]:
x = []

for i in range(1, 10):
  x.append(i)

print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
# 리스트 컴프리헨션
# step1 list안에 for문을 가져옵니다.
for i in range(1, 10): # for문 시작하는 조건을 가져오고 리스트로 묶는다
    pass

# step2 append 항목을 앞으로 가져옵니다. - 여기서 i -> 자동으로 append
a = [i for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]
b = [i*2 for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a, b)

[1, 2, 3, 4, 5, 6, 7, 8, 9] [2, 4, 6, 8, 10, 12, 14, 16, 18]

In [55]:
l = [i for i in range(1, 100) if i % 3 == 0 or i % 5 == 0]
print(l)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99]

In [56]:
l = []
for i in range(1, 100):
    if i % 3 == 0 or i % 5 == 0:
        l.append(i)
print(l)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99]

In [58]:
result = []
nums = [1, 2, 3, 4, 5, 6, 7]
for x in nums:
    if x > 3:
        if x % 2 == 0:
            result.append(f'{x}는 3보다 큰 짝수')
        else:
            result.append(f'{x}는 3보다 큰 홀수')
print(result)

['4는 3보다 큰 짝수', '5는 3보다 큰 홀수', '6는 3보다 큰 짝수', '7는 3보다 큰 홀수']

In [65]:
# step1 list안에 for문을 가져옵니다.
for i in range(1, 10):
    pass

# step2 append 항목을 앞으로 가져옵니다.
a = [i for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]
b = [i*2 for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a, b)

[1, 2, 3, 4, 5, 6, 7, 8, 9] [2, 4, 6, 8, 10, 12, 14, 16, 18]

In [66]:
# 중첩된 리스트 컴프리헨션

# 리스트 컴프리헨션: 중첩된 반복문
c = [f'{i} × {j} = {i*j}' for i in range(2, 10) for j in range(1, 10)]

# 리스트 컴프리헨션: 중첩된 컴프리헨션
cc = [[f'{i} × {j} = {i*j}' for j in range(1, 10)] for i in range(2, 10)]

# 전통적인 방법
c_list = []
for i in range(2, 10):
    for j in range(1, 10):
        c_list.append(f'{i} × {j} = {i*j}')

In [67]:
print(c)
print(cc)

['2 × 1 = 2', '2 × 2 = 4', '2 × 3 = 6', '2 × 4 = 8', '2 × 5 = 10', '2 × 6 = 12', '2 × 7 = 14', '2 × 8 = 16', '2 × 9 = 18', '3 × 1 = 3', '3 × 2 = 6', '3 × 3 = 9', '3 × 4 = 12', '3 × 5 = 15', '3 × 6 = 18', '3 × 7 = 21', '3 × 8 = 24', '3 × 9 = 27', '4 × 1 = 4', '4 × 2 = 8', '4 × 3 = 12', '4 × 4 = 16', '4 × 5 = 20', '4 × 6 = 24', '4 × 7 = 28', '4 × 8 = 32', '4 × 9 = 36', '5 × 1 = 5', '5 × 2 = 10', '5 × 3 = 15', '5 × 4 = 20', '5 × 5 = 25', '5 × 6 = 30', '5 × 7 = 35', '5 × 8 = 40', '5 × 9 = 45', '6 × 1 = 6', '6 × 2 = 12', '6 × 3 = 18', '6 × 4 = 24', '6 × 5 = 30', '6 × 6 = 36', '6 × 7 = 42', '6 × 8 = 48', '6 × 9 = 54', '7 × 1 = 7', '7 × 2 = 14', '7 × 3 = 21', '7 × 4 = 28', '7 × 5 = 35', '7 × 6 = 42', '7 × 7 = 49', '7 × 8 = 56', '7 × 9 = 63', '8 × 1 = 8', '8 × 2 = 16', '8 × 3 = 24', '8 × 4 = 32', '8 × 5 = 40', '8 × 6 = 48', '8 × 7 = 56', '8 × 8 = 64', '8 × 9 = 72', '9 × 1 = 9', '9 × 2 = 18', '9 × 3 = 27', '9 × 4 = 36', '9 × 5 = 45', '9 × 6 = 54', '9 × 7 = 63', '9 × 8 = 72', '9 × 9 = 81']
[['2 × 1 = 2', '2 × 2 = 4', '2 × 3 = 6', '2 × 4 = 8', '2 × 5 = 10', '2 × 6 = 12', '2 × 7 = 14', '2 × 8 = 16', '2 × 9 = 18'], ['3 × 1 = 3', '3 × 2 = 6', '3 × 3 = 9', '3 × 4 = 12', '3 × 5 = 15', '3 × 6 = 18', '3 × 7 = 21', '3 × 8 = 24', '3 × 9 = 27'], ['4 × 1 = 4', '4 × 2 = 8', '4 × 3 = 12', '4 × 4 = 16', '4 × 5 = 20', '4 × 6 = 24', '4 × 7 = 28', '4 × 8 = 32', '4 × 9 = 36'], ['5 × 1 = 5', '5 × 2 = 10', '5 × 3 = 15', '5 × 4 = 20', '5 × 5 = 25', '5 × 6 = 30', '5 × 7 = 35', '5 × 8 = 40', '5 × 9 = 45'], ['6 × 1 = 6', '6 × 2 = 12', '6 × 3 = 18', '6 × 4 = 24', '6 × 5 = 30', '6 × 6 = 36', '6 × 7 = 42', '6 × 8 = 48', '6 × 9 = 54'], ['7 × 1 = 7', '7 × 2 = 14', '7 × 3 = 21', '7 × 4 = 28', '7 × 5 = 35', '7 × 6 = 42', '7 × 7 = 49', '7 × 8 = 56', '7 × 9 = 63'], ['8 × 1 = 8', '8 × 2 = 16', '8 × 3 = 24', '8 × 4 = 32', '8 × 5 = 40', '8 × 6 = 48', '8 × 7 = 56', '8 × 8 = 64', '8 × 9 = 72'], ['9 × 1 = 9', '9 × 2 = 18', '9 × 3 = 27', '9 × 4 = 36', '9 × 5 = 45', '9 × 6 = 54', '9 × 7 = 63', '9 × 8 = 72', '9 × 9 = 81']]

In [68]:
def sumthingFunction(i):
    if i % 100 ==0:
        return i
    else:
        return 0

l = [100, 200, 300, 101, 202, 303]
l = [sumthingFunction(i) for i in l]
l # 출력: [100, 200, 300, 0, 0, 0]

[100, 200, 300, 0, 0, 0]

In [70]:
# 딕셔너리 컴프리핸션

# 전통적인 방법
d = {}
for i in range(5):
    d[i] = i**2
print(d)

# 딕셔너리 컴프리헨션 사용
dd = {i: i**2 for i in range(5)}
print(dd)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [71]:
# 복합 순회형 자료 for문

for i, j, k in ['abc', 'def', 'ghi' ]:
    print(i,j,k)

a b c
d e f
g h i

In [72]:
skill = [
        ('고기잡이', 100),
        ('고기팔기', 120),
        ('낚시', 5),
        ('통발', 5),
        ('큰그물', 5)
]

for i, j in skill:
    print(i, j)

고기잡이 100
고기팔기 120
낚시 5
통발 5
큰그물 5

In [73]:
# 하나만 리스트여도 쌓이면 상관없이 잘 돌아감
skill = [
        ('고기잡이', 100, 'SS'),
        ('고기팔기', 120, 'SSS'),
        ('낚시', 5, 'C'),
        ('통발', 5, 'C'),
        ('큰그물', 5, 'C')
]

for skillName, skillLevel, skillGrade in skill:
    print(skillName, skillLevel, skillGrade)

고기잡이 100 SS
고기팔기 120 SSS
낚시 5 C
통발 5 C
큰그물 5 C

In [74]:
영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i in enumerate(영화누적관객수):
    print(i)

for i, j in enumerate(영화누적관객수, 1):
    print(f'누적관객수 {i}위! {j}!')

(0, '레미제라블')
(1, '뷰티인사이트')
(2, '매트릭스')
(3, '인셉션')
(4, '어거스트 러쉬')
누적관객수 1위! 레미제라블!
누적관객수 2위! 뷰티인사이트!
누적관객수 3위! 매트릭스!
누적관객수 4위! 인셉션!
누적관객수 5위! 어거스트 러쉬!

In [76]:
영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i, j in enumerate(영화누적관객수, 100):
    print(f'누적관객수 {i}위! {j}!') # i에는 index값 j에는 영화제목! ,1 -> 1부터 시작!

누적관객수 100위! 레미제라블!
누적관객수 101위! 뷰티인사이트!
누적관객수 102위! 매트릭스!
누적관객수 103위! 인셉션!
누적관객수 104위! 어거스트 러쉬!

# 3. while

In [ ]:
while 구문:
    pass # 수행할 문장

In [78]:
# while문 기초

a = 1

while a < 10 : # 조건이 만족할때 까지
	print(a)
	a += 1

# for문 기초
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9

# 프로그램1.스무고개 만들기

#1.1 숫자를 입력받기
* input을 활용햐서 숫자를 입력 받으세요!
* 20번안에 숫자를 맞춰야하는 게임

In [80]:
number = int(input('숫자를 입력하세요~ (1~100사이)'))

숫자를 입력하세요~ (1~100사이)50

In [81]:
print(number)
print(type(number))

50
<class 'int'>

In [82]:
# 우리가 맞춰야하는 숫자!
import random

secret_number = random.randrange(1, 101)

In [88]:
# 정답을 위한 step 1
# if문을 사용해서 같으면 정답 틀리면 틀렸습니다 라고 출력해보기!

if number == secret_number:
    print('정답입니다')
else:
    print('틀렸습니다')

틀렸습니다

In [89]:
# step 1을 구현했는데
# 최대 100번까지 맞춰야한다
# input을 계속 입력해야한다.
# 힌트가 없다

# step 2 -> 20번을 반복하는 기능을 구현! for문

In [ ]:
#for문을 추가하면서 재배치!

secret_number = random.randrange(1, 101) # 고정값! # Step 3. secret_number은 고정 값

for i in range(20): # Step1. 반복할 값을 지정한다.
    number = int(input('숫자를 입력하세요~ (1에서 100사이)')) # Step 2. input을 지정한다.
    if number == secret_number: # Step 4 : 조건문
        print("정답")
    else:55
        print("틀렸습니다.")

# 계속 틀리다가 맞추면 정답! 출력 하긴한다. 20번을 무조건 반복한다.

In [133]:
import random

secret_number = random.randrange(1, 101)

for i in range(20):
    guess = guess + 1
    guess = int(input('숫자를 입력하세요~(1~100까지)'))
    if number == secret_number:
        print('정답입니다 {guess}번 만에 맞췄습니다')
    elif number > secret_number:
        print('숫자가 더 작습니다')
        guess = guess + 1
    elif number < secret_number:
        print('숫자가 더 큽니다')
        guess = guess + 1
    if guess == 20:
        print(f'정답은 {secret_number} 입니다')

SyntaxError: invalid syntax (<ipython-input-133-ee23b5bd6683>, line 13)

In [ ]:
# 숫자 스무고개ㅠㅠ
for i in range(20):
    i +=1
    number = int(input(f'{i}번째 시도입니다. 숫자를 입력하세요~ (1에서 100사이)'))
    if number == secret_number:
        print(f'정답입니다 {i}번만에 맞추셨습니다')
        break
    elif number != secret_number:
        if i != 3:
            print('틀렸습니다.')
            if number > secret_number:
                print('down!')
            elif number < secret_number:
                print('up!')
        elif i == 3:
            print(f'기회를 다 소진하셨습니다. 정답은 {secret_number}입니다.')

# 프로그램2 : 가위바위보

In [116]:
# step1 :우리가 낼 가위 ,바위, 보를 입력 받는다.
# step2 :컴퓨터다 낼 가위 바위 보를 입력 받는다
# step3 : 승패요건
# step4 : 가위 바위 보 외에 다른거를 냈을떄 어떻개 해야 하는지? / 종료하고 싶은지 물어보는것도 추가!

In [131]:
f = ['가위','바위','보']
computer_choice = random.choice(f)
print(computer_choice)

가위

In [ ]:
user_choice = input('가위 바위 보중에 고르세요')

if user_choice == computer_choice:
    print("무승부")
elif (user_choice == 가위, computer_choice == 보) or (user_choice == 보, computer_choice == 바위) or (user_choice == 바위, computer_choice == 가위)
    print('승리')

In [ ]:
# 문제 1
# 숫자를 하나 입력받아, 그 숫자가 5보다 큰지 확인하는 프로그램을 작성해보세요.

# 문제 2
# "안녕하세요!"를 5번 출력하는 프로그램을 작성해보세요.

# 문제3
# 1부터 10까지의 숫자 중에서, 짝수만 출력하는 프로그램을 작성해보세요.

# 문제4
# 1부터 20까지의 숫자 중, 3의 배수만 출력하는 프로그램을 작성하세요.

# 문제5
# 구구단 2단부터 9단까지 출력하는 프로그램을 작성하세요.