<a href="https://colab.research.google.com/github/Masterdual/orm2/blob/main/%EB%AA%A8%EB%91%90%EC%97%B03%EC%A3%BC%EC%B0%A8_%ED%81%B4%EB%9E%98%EC%8A%A4%EB%B0%8F_%ED%83%80%ED%95%A8%EC%88%98%EC%9D%91%EC%9A%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def hello():
    '''
    DocString
    주석은 여기 답니다.
    '''
    pass

In [2]:
print(type(hello)) # 함수도 class입니다!?

<class 'function'>

In [3]:
a = 10
# a는 무엇인가?
# a는 int 인스턴스

In [4]:
i = [a, a, a]
i

[10, 10, 10]

In [5]:
print('hello world') # built-in function

hello world

In [14]:
a = 10
# a는 무엇이죠?
# a는 int에 인스턴스

l = [a, a, a]
l[2]

print('hello world') # built-in function

l = [print, print, print]
l[2]('hello world')

hojun = print
hojun('hello world')

hello world
hello world
hello world

In [15]:
id(hojun), id(print)

(137956434744624, 137956434744624)

In [16]:
hojun = print

In [9]:
add = lambda x, y: x+ y
add(10,5)

15

In [10]:
print(add)

<function <lambda> at 0x7d7845c8f9a0>

# lambda의 응용

In [38]:
홀수 = lambda x,y : x + y
add(3, 5)

8

## Top3-1 map

In [13]:
# 코드가 이해가 안된다 => 이해할려고 노력하는 것 보다는
# 예제를 30개 정도 만들어보는것 권장
# Djangi 어려우면 30개 만들기 어려우면 더 만들기
# 모든 어려우면 일단 예제를 30개 정도 만들어서 이해하기 그래도 모르면 더 만들기

# lambda + 3항 연산자 많이 사용한다

x = 10
y = True if x % 2 == 0 else False

print(y)

True

In [17]:
def 제곱(x): # 재사용시 함수 추천
    return x ** 2

list(map(제곱,[1, 2, 3, 4]))

[1, 4, 9, 16]

In [18]:
# 재사용 하지 않을 것이먄 lambda
# lambda가 실무에서 좀 더 많이 사용됩니다.
# 수식이 복잡해지면 재사용과 별개로 lambda로 했을 경우 가독성이 떨어지는 경우도 발생한다
# 이럴 때에는 함수로 빼기도 한다

list(map(lambda x: x**2, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [20]:
list(map(lambda x: True if x % 2 == 0 else False , [1, 2, 3, 4])) # 마스킹

[False, True, False, True]

In [ ]:
# 알고리즘 문제에서
# [True, False, False, False, True]

In [28]:
# 101은 소수인가

for i in range(2, 31):
    if 101 % i == 0:
        print('소수아님!')
        break
else: # else 대신 then으로 하자라는 논의가 활발했다. => 그러나 else가 이긴다
    print('소수임')

소수임

## Top3-2 filter

In [ ]:
# filter
list(filter(lambda x: x % 2 == 0, range(100)))

In [ ]:
list(filter(lambda x: x % 3 == 0, range(100)))

In [ ]:
list(filter(lambda x: x > 50, range(100)))

In [ ]:
list(filter(lambda x: x > 50 and x < 80, range(100)))

In [ ]:
list(filter(lambda x: True if x % 3 == 0 or x % 5 == 0 else False, range(100)))

In [ ]:
# list(filter(lambda x: x % 2 == 0, range(100)))
list(filter(lambda x: x % 2 == 0, range(100))) # 홀수를!?

# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# x == 0 => lambda x: x % 2 == 0 => False로 평가
# x == 1 => lambda x: x % 2 == 1 => True로 평가
# x == 2 => lambda x: x % 2 == 0 => False로 평가
# x == 3 => lambda x: x % 2 == 1 => True로 평가
# x == 4 => lambda x: x % 2 == 0 => False로 평가
# x == 5 => lambda x: x % 2 == 1 => True로 평가
# x == 6 => lambda x: x % 2 == 0 => False로 평가
# x == 7 => lambda x: x % 2 == 1 => True로 평가

In [39]:
test=lambda i:i % 2 == 0
[test(i) for i in range(10)]

[True, False, True, False, True, False, True, False, True, False]

## Top3-3 sorted에서 사용!

In [36]:
i = [10, 20, 5, 4, 22, 32, 5, 9, 11]
i.sort() # sort를 자주 사용하진 않음 원본변형 우려
i

[4, 5, 5, 9, 10, 11, 20, 22, 32]

In [37]:
i = [10, 20, 5, 4, 22, 32, 5, 9, 11]
sorted(i) #sorted의 return값이 정렬된 값이죠!
i # i은 그대로 이며 그래서 자주 사용

[10, 20, 5, 4, 22, 32, 5, 9, 11]

In [ ]:
sorted() # key, reverse 옵션을 정말 정말 많이 사용합니다!
# 알고리즘 문제에서 단골 문제이고, sorted 문제는 1문제는 거의 출제된다고 보시면 됩니다.
# 최댓값
# 최솟값
# https://codingdojang.com/scode/408?answer_mode=hide 이것도 최솟값!
# https://school.programmers.co.kr/learn/courses/30/lessons/120835 이것도 정렬 문제입니다!

In [42]:
반별점수 = [
    ['길동','30','56','22'],
    ['춘향','55','60','73'],
    ['몽주','32','65','68'],
    ['철수','92','11','95'],
]

In [43]:
sorted(반별점수) # 값이나 0번째 값 기준으로 정렬한다

[['길동', '30', '56', '22'],
 ['몽주', '32', '65', '68'],
 ['철수', '92', '11', '95'],
 ['춘향', '55', '60', '73']]

In [44]:
def 함수(x):
    return x[3] # 가장 중요한것은 이 key함수의 return 값대로 정렬한다는 것!

sorted(반별점수, key=함수)

[['길동', '30', '56', '22'],
 ['몽주', '32', '65', '68'],
 ['춘향', '55', '60', '73'],
 ['철수', '92', '11', '95']]

In [ ]:
# [['길동', '30', '56', '22'], => 22
#  ['몽주', '32', '65', '68'], => 68
#  ['춘향', '55', '60', '73'], => 73 # 맨 엎으로 감
#  ['철수', '92', '11', '95']] => 95

In [ ]:
# def 함수(x):
#     return x[3]

sorted(반별점수, key=lambda)

In [47]:
sorted(반별점수, key=lambda x: x[1] + x[2] + x[3])

[['길동', '30', '56', '22'],
 ['몽주', '32', '65', '68'],
 ['춘향', '55', '60', '73'],
 ['철수', '92', '11', '95']]

In [52]:
# 문제가 살짝 어려워짐
반별점수 = [
    ['홍길동', 50, 50, 50],
    ['이철수', 45, 50, 55],
    ['홍춘향', 60, 35, 75],
    ['이호준', 92, 11, 95]
]

# 문제: 국, 영, 수 평균 점수대로 출력해주세요!
# 정답:
sorted(반별점수, key=lambda x: x[1] + x[2] + x[3]) # 나눌 필요 없다.

# 2
# sorted(반별점수, key=lambda x: x[1] + x[2] + x[3], reverse=True) # 철수가 수학 점수가 높은데 뒤에 있다?
# 의도는 수학 점수가 높으니 앞에 두겠다는 애기
#[['홍길동', 30, 55, 22], => (50, 50)
# ['이철수', 32, 65, 68], => (50, 55)
# ['홍춘향', 55, 60, 73], => ??
# ['이호준', 92, 11, 95]] => ??
# 내림차순으로 정렬합니다!
# 평균 점수가 높은게 앞으로 옵니다.
sorted(반별점수, key=lambda x: (x[1] + x[2] + x[3], x[3]), reverse=True) # 철수랑 길동이 바뀌었다

[['이호준', 92, 11, 95],
 ['홍춘향', 60, 35, 75],
 ['이철수', 45, 50, 55],
 ['홍길동', 50, 50, 50]]

In [55]:
우편번호 = [
    {
        '주소': '경기도 용인시',
        '우편번호': 321
    },
    {
        '주소': '경기도 수원시',
        '우편번호': 355
    },
    {
        '주소': '제주특별자치도 제주시',
        '우편번호': 333
    }
]

# sorted(우편번호) #error, 비교를 할 수 없다!?
sorted(우편번호, key=lambda x: x['우편번호'])

# 우편번호 = [
#     {
#         '주소': '경기도 용인시',
#         '우편번호': 321
#     }, => 321
#     {
#         '주소': '경기도 수원시',
#         '우편번호': 355
#     }, => 355
#     {
#         '주소': '제주특별자치도 제주시',
#         '우편번호': 333
#     } => 333
# ]

[{'주소': '경기도 용인시', '우편번호': 321},
 {'주소': '제주특별자치도 제주시', '우편번호': 333},
 {'주소': '경기도 수원시', '우편번호': 355}]

In [57]:
# 다음 입사문제
# 직건에 있는 점의 좌표입니다
# 점과 점 사이가 가장 짧은 점의 쌍을 출력하세요

s = [1, 3, 4, 8, 13, 17, 20]
# 입력값 : S = [1, 3, 4, 8, 13, 17, 20]
# 출력값 : (3, 4)

s = [1, 3, 4, 8, 13, 17, 20]
s[1:]

[3, 4, 8, 13, 17, 20]

In [80]:
list(zip(s, s[1:]))
x = list(zip(s, s[1:]))
x

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [72]:
print(list(zip('hello', 'world')))
list(enumerate(zip('hello','world')))

[('h', 'w'), ('e', 'o'), ('l', 'r'), ('l', 'l'), ('o', 'd')]

[(0, ('h', 'w')),
 (1, ('e', 'o')),
 (2, ('l', 'r')),
 (3, ('l', 'l')),
 (4, ('o', 'd'))]

In [86]:
sorted(x, key = lambda x: (x[1] - x[0]))

[(3, 4), (1, 3), (17, 20), (4, 8), (13, 17), (8, 13)]

![이미지](https://media.discordapp.net/attachments/1173449925393121361/1194833702572806215/image.png?ex=65b1ca99&is=659f5599&hm=46004c8e8ea30d5f778deb3105e67550049ac4d80eb5a8e613cb7edae9f1f973&=&format=webp&quality=lossless&width=720&height=283)

In [89]:
sum([10, 20, 30])
sum([10, 20, 30], 100)
sum([[1, 2, 3], [4, 5, 6]], [])

[1, 2, 3, 4, 5, 6]

In [90]:
sum([[1, 2, 3], [4, 5, 6]], [])

[] + [1, 2, 3] == [1, 2, 3]
[1, 2, 3] + [4, 5, 6] == [1, 2, 3, 4, 5, 6]

True

In [ ]:
# 어디까지 이해하고 어디까지 암기해야하나?
# 책 => 이런 내용이 안나옴 실무에서 빈도가 많은지에 대해 나오지 않음
# 암기할건 하고 버릴건 버린다
# 충분히 4 ~ 5개월 안에 원하는 수준으로 올라갈수 있다 (파이썬)

In [91]:
# 다른 값이 출력될 수도 있다는 것을 기억해야 한다
a = 10
print(a) #a._str_
a # a._repr
repr(a) # a._repe_

10

'10'

In [92]:
class Notice:
    '''
    게시물 클래스
    '''
    def __init__(self, title, contents):
        self.title = title
        self.contents = contents

    def __str__(self):
        return self.title

    def __repr__(self):
        '''
        repe이라는 값은 임의로 만든 값이 아님
        정해져 있는 이름
        '''
        return f'{self.title}, {self.contents}'

게시물1 = Notice('파이썬 이렇게 어려운줄 몰랐다!','내가 알던 파이썬이 아니야...')
게시물2 = Notice('Django는 이렇게 재미있을 줄 몰랐다!', '파이썬을 잘 못해서 내가 할 수 있을까 생각이 들었는데')


print(게시물1)

파이썬 이렇게 어려운줄 몰랐다!

In [ ]:
class Notice:
    '''
    게시물 클래스
    '''
    def __init__(self, title, contents):
        self.title = title
        self.contents = contents

    def __str__(self):
        return self.title

    def __repr__(self):
        '''
        repe이라는 값은 임의로 만든 값이 아님
        정해져 있는 이름
        '''
        return f'{self.title}, {self.contents}'
    def __len__(self):
        '''
        len이라는 값도 임의로 만든 값이 아님
        정해져 있는 이름'''
        return f'{self.title}, {self.contents}'

In [94]:
# print(게시물1) #로그로 출력할때
# 게시물1
repr(게시물1) # 그 자료형을 대표하는 문자열 취급

'파이썬 이렇게 어려운줄 몰랐다!, 내가 알던 파이썬이 아니야...'

In [ ]:
# 현업에서 3.6 이상을 사용하면 참 다행
# 예를 들어 서비스를 만든지 조금 오랜딘 기업들 다른기업들은
# Django를 2.x, 1.x
# 실우에 갈때 2.x 어느정도 알고 있어야 함
# match같은 문법은 아직 사용하지 못함 2 ~ 3년뒤에 사용가능

In [ ]:
type(range(10)) # range라는 타입

In [ ]:
# 2.x
# range(10) => [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# type(range(10)) => <type'list'>

# 문제: range(100000000) => 메모리를 100000000 갯수 만큼 한 번에 생성을 해야한다
# 이것을 개선하자는 얘기가 끊임없이 나온다
# 2.x에서 나온 것이 xrange()이다 이것은 특이하게 현재값과 다음값만 가지고 있다
# 현재값, 다음값

# 3.x에서 range(100000000)
# class range로 바뀌게 된 것
# for i in range(1000): # 1000개의 메모리를 할당하는 것이 아님
#    pass

In [ ]:
list(range(1000)) # 메모리 큰 부하를 준다!

In [95]:
sum(range(1000))

499500

In [96]:
sum(list(range(1000))) # 메모리가 1000개 할당 되었다가 더해야 하나 비효율적인 코드

499500

In [98]:
values = ['A','B','C','D']
print(list(enumerate(values)))
print(list(enumerate(values,1))) # 시작값 넣는 것 많이 사용한다 기억할것

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]
[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')]

In [99]:
list(reversed([1,2,3,4,5,]))

[5, 4, 3, 2, 1]

In [100]:
reversed([1,2,3,4,5,])

In [101]:
sorted([1,2,3,4,5])
# 왜 sorted만 자료형으로 주나
# recersed나 map, filter나 이런건 모두 메모리 주소를 가리키는데!?
# 정답: (추후애 심화 과정에서 강의) 메모리 효율성 때문
# sorted만 비효율 감수하고 사용자가 보기 편한 자료형으로 반환

[1, 2, 3, 4, 5]

In [102]:
sorted((1,2,3,4,5))

[1, 2, 3, 4, 5]

# match
* 3.10버전에서 나온 문법이기 때문에 현업에서 거의 사용 못한다
* 예를 들어 속도가 매우 빨라야 하는 프로젝트를 여러분이 하게 될때 pythin 최신 버전을 사용한다 그러면 match 문법을 사용가능한데 권고하기가 어렵고 match 문법이 동료들이 익숙하지 않기 때문
* 2024년에는 중요도가 많이 떨어짐 별 0.5개정도
* 2~3년후에는 중요도가 3 ~ 4개정도로 올라갈것으로 보인다

In [103]:
# 제가 반대하는 이유
# 타 언어에 비해서 불편한 점
요일 = 3
match 요일:
    case 0:
        print('일요일')
    case 1:
        print('월요일')
    case 2:
        print('화요일')
    case 3: # 해당 부분이 비어져 있을때 다른언어에서는 이 문법이 가용가능
        print('수요일')
    case 4:
        print('목요일')
    case 5:
        print('금요일')
    case 6:
        print('토요일')

수요일

In [109]:
# 제가 반대하는 이유
# 타 언어에 비해서 불편한 점
요일 = 4
match 요일:
    case 0:
        print('일요일')
    case 1:
        print('월요일')
    case 2:
        print('화요일')
    case 3:
        print('수요일')
    case 4:
        print('목요일')
    case 5:
        print('금요일')
    case 6:
        print('토요일')
    case _:
        print('요일없음!')

목요일

In [110]:
text = '1'
match text:
    case '1' | '2':
        print('1, 2')
    case _:
        print('No Match')

1, 2

In [111]:
# 이런 코드보다 아래 코드를 많이 만날 것이다
def 요일반환(요일):
    return {
        0:'일요일',
        1:'월요일',
        2:'화요일',
        3:'수요일',
    }.get(요일, '요일없음')

print(요일반환(2))
print(요일반환(100))

화요일
요일없음

# class
* class 이론을 여러권 + ChatGPT + 유튜브를 보시는 것 보다는
* 여러개를 만들어보세요. ChatGPT에게 여러개의 클래스를 추천받고, ChatGPT에게 짜달라고 해서 그것을 타이핑 해보는게 많은 도움이 된다
* 결론: 많은 것을 만들어 봐야 한다

* class 클래스이름 => 인스턴스
* class Blog => 게시물1, 게시물2, 게시물3...
* class Dot => 점1, 점2, 점3...
* class Matrix => 행렬1, 행렬2, 행렬3...
* class Use => 유저1, 유저2, 유저3...
* class cart(장바구니) => Cart1, Cart2, Cart3...
* class Commnet(댓글) => 댓글1, 댓글2, 댓글3...
* class Character => Licar(주인공), Lion(빌런), Mpb1(몬스터)
* class Prouduct => 상품1, 상품2, 상품3
* class class => 강의1, 강의2, 강의3
* class Teacher => 강사1, 강사2, 강사3

In [121]:
# 0번: 기초 상식
# 0.0 __init__ 매직메서드는 없어도 되나?
# 실제로 이런 코드를 짤 일이 생김
class 우편번호:
    제주도 = 100
    경기도 = 101
    전라북도 = 102
    전라남도 = 103

우편번호.제주도
# 왜 이걸 딕셔너리로 만들지 않고 class로 만들었을까?
# 재사용성 + 확장성

# 아래와 같이 저장한다고 해서 문제가 생기는가?
# 데이터의 양(속도)

# 제목: python 기초
# 저자: 이호준

{'제목': 'python 기초', '저자': '이호준'}

# 제목: html 기초
# 저자: 한재현

{'제목': 'html 기초', '저자': '한재현'}

[{'제목': 'python 기초', '저자': '이호준'},{'제목': 'html 기초', '저자': '한재현'}]

[{'제목': 'python 기초', '저자': '이호준'}, {'제목': 'html 기초', '저자': '한재현'}]

In [118]:
# 1번
# 클래스를 설계하실때
# 첫 번째로 - 모든 인스턴스에서 공유해야랗 변수(클래스 변수)나 메서드 설정
# 두 번째로 - 인스턴스 고유의 영역
# in_crerate_at(스네이크 표기법) - 파이썬 권고사항
# inCreatedAt(카멜 표기법) - 파이썬에서는 잘 사용하지 않음(javaScript에서는 많이 사용)
# inCrearedAt(파스칼 표기법) - 파이썬 클래스
class Post:
    def __init__(
            self,
            in_title='',
            in_contents='',
            in_count='',
            in_crerated_at='',
            in_updated_at='',
            in_author=''
            ):
        self.title = in_title
        self.contents = in_contents
        self.created_at = in_crerated_at
        self.count = in_count
        self.updated_at = in_updated_at
        self.author = in_author

        def __add__(self):
            pass
        def __len__(self):
            pass
        def __str__(self):
            pass
        def update(self):
            pass
        def delete(self):
            pass

In [ ]:
# 1번
# 클래스를 설계하실 때
# 첫 번째로 - 모든 인스턴스에서 공유해야할 변수(클래스 변수)나 메서드 설정
# 두 번째로 - 인스턴스 고유의 영역
# in_crerate_at(스네이크 표기법) - 파이썬 권고사항
# inCreatedAt(카멜 표기법) - 파이썬에서는 잘 사용하지 않습니다.(JavaScript에서는 많이 사용합니다.)
# InCreatedAt(파스칼 표기법) - 파이썬 클래스

class Post:
    def __init__(
            self,
            in_title='',
            in_contents='',
            in_count=0,
            in_crerate_at='',
            in_updated_at='',
            in_author=''
        ):
        self.title = in_title
        self.contents = in_contents
        self.count = in_count
        self.created_at = in_crerate_at
        self.updated_at = in_updated_at
        self.author = in_author

    def __str__(self):
        return self.title

    def __repr__(self):
        return self.title

    def __add__(self, next):
        #  return self.count + next.count
        return self.title + next.title

    def __len__(self):
        pass

    def update(self, in_contents):
        '''
        in_ 실무에서 사용하는 접두사가 아님
        '''
        self.contents = in_contents
        return '게시물 수정에 성공했습니다! 200'

    def __eq__(self, next):
         return self.title == next.title

    def delete(self):
        pass

게시물1 = Post(
    '파이썬은 참 깊군요!',
    '오늘은 파이썬 클래스를 배웠는데 너무 어렵기도 하고, 신기했습니다.',
    0,
    '2024-01-11',
    '2024-01-11',
    '이호준'
)

게시물2 = Post('2', '22', 0, '2024-01-11', '2024-01-11', '이호준')

print(게시물1)
print(게시물1.title)
print(게시물1 + 게시물2) # +연산이 나오면 앞(게시물 1)의 __add__가 실행됩니다.
게시물1.update('hello world')
게시물1.contents

게시물1 == 게시물2

In [130]:
l = [10,20,30]
len(dir(l))

47

In [133]:
len(dir(게시물2))

36

# Dot

In [142]:
class Dot:
    def __init__(self,x,y):
        self.x = x
        self.y = y

    def __add__(self, next):
        return (self.x + next.x, self.y + next.y)

    def __mul__(self, next):
        return (self.x * next.x, self.y * next.y)

    def distance(self, next):
        dx = self.x - next.x
        dy = self.y - next.y
        return (dx**2 + dy**2) ** 0.5 # root은 ** 0.5로 많이 사용한다

dot1 = Dot(20, 10)
dot2 = Dot(30, 5)

dot1 + dot2
dot1 * dot2
dot1.distance(dot2)

11.180339887498949

In [141]:
class Dot:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, next):
        return (self.x + next.x, self.y + next.y)

    def __mul__(self, next):
        return (self.x * next.x, self.y * next.y)

    def distance(self, next):
        dx = self.x - next.x
        dy = self.y - next.y
        return (dx**2 + dy**2) ** 0.5 # root은 ** 0.5로 많이 사용합니다.

dot1 = Dot(20, 10)
dot2 = Dot(30, 5)

dot1 + dot2
dot1 * dot2
dot1.distance(dot2)

11.180339887498949

# character

In [ ]:
class Character:
    def __init__(self):
        self.name = name
        self.skill = skill
        self.hp = hp
        self.mp = mp
        self.power = power
        self.x = x

    def move(self):
        self.x += 100

    def attact(self, next):
        next.hp -= self.power

scene, x, y, texture, animkey, initHp, dropRate, move