<a href="https://colab.research.google.com/github/Masterdual/orm2/blob/main/%EB%AA%A8%EB%91%90%EC%97%B03%EC%A3%BC%EC%B0%A8_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.함수와 인사하기

In [28]:
#1. 함수 만들어 보기

def parkgyoungmin(): # def -> 이건 함수 parkgyoungmin 함수의 이름()
    print('1')
    print('2')
    print('3')

print(parkgyoungmin())
parkgyoungmin()

1
2
3
None
1
2
3

In [ ]:
#2. 들여쓰기
def my_function():
    print('1') #4칸을 띄우는 것 -> 함수의 본문을 적는 것
    print('2')

print('3') # 함수 바깥이므로 print()로 따로 출력된다

# 함수의 실행
my_function() #실행을 할때는 def와 :은 필요없다 -> 함수의 본문이 실행된다

3
1
2

In [ ]:
def function(x,y):
    z = x + y
    return z

print("function(10,9)=",function(10,9))

function(10,9)= 19

In [24]:
def name(): # 함수이름은 일반 변수를 지정해서 정한다
    pass # 오류가 발생하거나 임시로 지정할 함수로 필요할 경우에 사용

def name_1():
    return hi # 한줄을 반드시 사용

def name_2(x,y):
    return (x + y ) * 3 # 괄호안에는 피라미터로 꼭 필요한 부분이 아니라 생략이 가능하다

print(name_1) #print()문을 반드시 사용해야 함수값이 나온다 안쓰면 값이 안나온다
print(name_2(3,5)) # return은 값을 반환할뿐 출력을 하지 않기에 print() 써야
                   # 하지만 Return을 안쓰면 함수값이 none이 나온다

<function name_1 at 0x7d01a9872c20>
24

In [25]:
#2.1 입력 매개변수가 없고 반환값도 없는 함수
def f():
    print('hello world')

# 함수 호출
print(f())

hello world
None

In [31]:
# 2.2 파라미터가 없고 반환값은 있는 함수
def f_1():
    return 7

result = f_1()
print(result)

7

In [40]:
# 2.3 입력매개변수가 있고, 반환값이 없는것
def f_2(name):
    print(f'안녕하세요, {name} ')

f_2('박경민')
print(f_2('경민'))

안녕하세요, 박경민
안녕하세요, 경민
None

In [43]:
# 2.4 입력매개변수도 있고, 반환값도 있는것
def f_3(x, y):
    sum = x + y
    return sum

# 함수 호출
result = f_3(5,3)
print(result)

8

In [49]:
# 1.3 파라미터의 기본 사용
def f(a, b, c):
    print(a, b, c)
f(100,200,300)
f(a = 100, b = 200, c = 300)
f(c = 300, a = 100, b = 200)

100 200 300
100 200 300
100 200 300

In [50]:
def f(a=10, b=20, c=30):
    print(a, b, c)

f() # 출력: 10 20 30
f(100, 10) # 출력: 100 10 30
f(a=100, b=200, c=300) # 출력: 100 200 300
f(c=300, a=100, b=200) # 출력: 100 200 300

10 20 30
100 10 30
100 200 300
100 200 300

In [55]:
# 잘못된 예시
'''def f(a=10, b=20, c):
    print(a, b, c) # error

f(10, 20, 30)'''

'def f(a=10, b=20, c):\n    print(a, b, c) # error\n\nf(10, 20, 30)'

In [56]:
# 올바른 예시
def f(a, b=20, c=10):
    print(a, b, c)

f(100, 10) # 출력: 100 10 10
f(a=100, b=200, c=300) # 출력: 100 200 300
f(c=300, a=100, b=200) # 출력: 100 200 300

100 10 10
100 200 300
100 200 300

In [57]:
def f(a, b=20, c=30):
    print(a, b, c)

# print(f()) # error
print(f(100, 10)) # 출력 : 100, 10, 30
print(f(a=100, b=200, c=300)) # 출력 : 100 200 300
print(f(c=300, a=100, b=200)) # 출력 : 100 200 300
# print(f(c=300)) # error

100 10 30
None
100 200 300
None
100 200 300
None

In [58]:
# 1.4.1 컨벤션 자료형을 아규먼트로 넣었을 때
def add_element(my_list):
    my_list.append(1)

a = [2, 3, 4]
add_element(a)
print(a)  # 출력: [2, 3, 4, 1]

[2, 3, 4, 1]

In [59]:
def add_element(my_list):
    my_list.append(1)
    print(id(my_list)) # 출력: 135115033605760

a = [2, 3, 4]
add_element(a)
print(id(a)) # 출력: 135115033605760
print(a)  # 출력: [2, 3, 4, 1]

137446091156160
137446091156160
[2, 3, 4, 1]

In [63]:
def add_element(my_list):
    my_list = 10
    print(id(my_list)) # 출력: 135115442078224

a = [2, 3, 4]
add_element(a)
print(id(a)) # 출력: 135115029248768
print(a)  # 출력: [2, 3, 4]

137446862422544
137446091813312
[2, 3, 4]

In [132]:
# 권장하지 않는 방법
def append_to_list(value, lst=[]):
    lst.append(value)
    return lst # 예상치 못한 결과가 발생할 수 있습니다.

append_to_list(1) # 출력: lst = [1]

[1]

In [136]:
append_to_list(2) # 출력: [1, 2], 그러나 결과가 [2]가 나올것으로 예상할수도 있습니다.

[1, 3, 4, 5, 2]

In [117]:
# 권장 방법
def append_to_list(value, lst=None):
    if lst is None:
        lst = []
    lst.append(value)
    return lst

In [118]:
append_to_list(1)

[1]

In [124]:
append_to_list(2)

[2]

# 2. 지역변수와 전역변수

In [141]:
# 지역 변수 사용 예시
def f():
    a_1 = 1 # 이변수는 f() 내에서만 정의! 절대 바깥에서는 사용할 수 없는것
    print(a_1) # 출력: 1

f()
# print(a_1) # error: a는 f함수 내부에서만 정의된다

1

In [144]:
# 지역 변수 사용 예시
def f():
    a = 1 # 지역변수 함수 내에서만 사용가능
    print(locals()) # 출력: {'a': 1}

f()

{'a': 1}

In [145]:
def f():
    a = 1
    b = 'hello'
    def ff():
        pass
    print(locals()) # 출력: {'a': 1, 'b': 'hello', 'ff': <function f.<locals>.ff at 0x7a46e99d2c20>}

f()

{'a': 1, 'b': 'hello', 'ff': <function f.<locals>.ff at 0x7d018bbda5f0>}

In [153]:
a = 100

def f():
    global a
    a = a + 1
    return a

print(f())
print(a)  # 출력: 101, 함수 f 내에서 전역 변수 a가 수정되었습니다.

101
101

In [154]:
a = 100

def f():
    print(a) # 출력: 100

f()

def ff():
    b = a + 1
    print(b) # 출력: 101

ff()

100
101

In [155]:
a = 100

def f():
    a = 1000
    print(a) # 출력: 1000

f()

1000

In [163]:
# 함수내외 같아보이는 변수는 사실 서로 다른 변수로 내부에 따로 만들어주거나 global를 사용해야 한다
def f():
    a = 100
    a = a + 1 # error
    return a

print(f())

101

In [166]:
a = 10
def f():
    a = 100
    print(a) # 출력: 100
    def ff():
        a = 1000
        print(a) # 출력: 1000
        def fff():
            a = 10000 # 출력: 10000
            print(a)
        fff()
    ff()
f()
print(a) # 출력: 10

100
1000
10000
10

In [165]:
# global을 하면 함수가 얼만큼 중첩되어 있건 최상단에 있는 a를 바라봅니다.
a = 10
def f():
    a = 100
    print(a)
    def ff():
        a = 1000
        print(a)
        def fff():
            global a
            print(a)
        fff()
    ff()
f()
print(a)

100
1000
10
10

# Built in function

# 1. all, any
* all() 함수는 iterable(반복 가능한) 객체(예: 리스트, 튜플, 문자열 등)를 인수로 받아, 그 안에 있는 모든 요소가 True로 평가되면 True를 반환하고, 그렇지 않으면 False를 반환합니다.

In [170]:
# 1. all, any

# 모두 다 True여야 True 반환 and랑 비슷
print(all([True, True, True])) # 출력: Ture
print(all([True, True, False])) # 출력: False
print(all([1, 1, 1, 0])) # 출력: False
print(all([1, 0, 1, 1])) # 출력: False
all([1, 100, 10, -1]) # 출력: True

True
False
False
False

True

In [171]:
# 하나라도 True이면 True이다. or과 비슷
print(any([True, False, False])) # 출력: True
any([False, False, False]) # 출력: False

True

False

#2.3 Map 함수
* map() 함수는 기존의 리스트(또는 튜플)의 모든 요소에 특정 함수를 적용한 결과를 map 객체 형태로 반환하는 함수입니다. map 객체는 다시 list()를 이용해 리스트 형태로 변환할 수 있습니다.

In [172]:
# 첫번째 방법
def 제곱(x):
    return x ** 2
list(map(제곱, [1, 2, 3, 4])) # 출력: [1, 4, 9, 16]}

[1, 4, 9, 16]

In [173]:
# 두번째 방법
list(map(lambda x : x ** 2, [1, 2, 3, 4])) # 출력: [1, 4, 9, 16]

[1, 4, 9, 16]

# 2.5 zip
* zip() 함수는 여러 개의 순회 할 수 있는 객체의 요소를 묶어서 반환합니다. 다만 메모리의 효율을 위해 형변환이나 직접 순회를 하기 전까지는 메모리 주소로만 반환합니다.

In [177]:
# 기본형태 : zip(순회활 수 있는 객체1, 순회할 수 있는 객체2...)

list(zip('abc', '123')) # 출력: [('a', '1'), ('b', '2')]

[('a', '1'), ('b', '2'), ('c', '3')]

In [178]:
list(zip('ab', '12', [10, 20])) # 출력: [('a', '1', 10), ('b', '2', 20)]

[('a', '1', 10), ('b', '2', 20)]

In [179]:
list(zip('abc', '1234567', [10, 20, 30]))
# 출력 : [('a', '1', 10), ('b', '2', 20), ('c', '3', 30)]

[('a', '1', 10), ('b', '2', 20), ('c', '3', 30)]

In [184]:
x = [1, 2, 3]
y = [1, 4, 9]
list(zip(x,  y)) # 출력: [(1, 1), (2, 4), (3, 9)]

[(1, 1), (2, 4), (3, 9)]

In [186]:
x = {1,3,5,6}
y = [1,3,4,5]
z = (1,5,7,9)
list(zip(x, y, z))

[(1, 1, 1), (3, 3, 5), (5, 4, 7), (6, 5, 9)]

In [189]:
# 2.10.3 enumerate

values = ['A', 'B', 'C', 'D']
print(list(enumerate(values)))
print(list(enumerate(values, 1)))
print(list(enumerate(values, 100)))

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]
[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')]
[(100, 'A'), (101, 'B'), (102, 'C'), (103, 'D')]

In [190]:
a = 'pithon'

def 함수1():
    def 함수2():
        print('love')

    print('I')
    함수2()
    return "python"


a = 함수1()
print(a)

I
love
python

In [191]:
def plus(num1, num2):
    result = num1 + num2
    return result

def minus(num1, num2):
    result_1 = num1 - num2
    return result_1

def multiply(num1, num2):
    result_2 = num1 * num2
    return result_2

def divide(num1, num2):
    result_3 = num1 / num2
    return result_3

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

plus : 15
minus : 5
multiply : 50
divide : 2.0