<a href="https://colab.research.google.com/github/Masterdual/orm2/blob/main/%EB%AA%A8%EB%91%90%EC%97%B0_2%EC%A3%BC%EC%B0%A8_2%EC%9D%BC_%EB%AC%B8%EC%9E%90%EC%97%B4_%ED%98%95%EB%B3%80%ED%99%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. 문자열

In [3]:
# 1.1 문자열 기초

x = 'hello'
y = "python"

In [4]:
print(x,y)

hello python

In [5]:
print(type(x),type(y))

<class 'str'> <class 'str'>

In [6]:
i = '''안녕하세요
저는 모두연의 강의를 듣는 학생입니다
파이썬을 열심히 배워서 여러 코드를 제작 하고 싶습니다
'''
j = """ 안녕하세요
저는 모두연의 강의를 듣는 학생입니다
파이썬을 열심히 배워서 여러 코드를 제작 하고 싶습니다
"""

In [7]:
i

'안녕하세요\n저는 모두연의 강의를 듣는 학생입니다\n파이썬을 열심히 배워서 여러 코드를 제작 하고 싶습니다\n'

In [9]:
print(i)

안녕하세요
저는 모두연의 강의를 듣는 학생입니다
파이썬을 열심히 배워서 여러 코드를 제작 하고 싶습니다

In [10]:
print(j)

 안녕하세요
저는 모두연의 강의를 듣는 학생입니다
파이썬을 열심히 배워서 여러 코드를 제작 하고 싶습니다

In [12]:
# 1.2 문자열 덧셈 뻴셈

# 문자열의 덧셈

x = 'hello'
y = 'world'

print(x + y)

# 문자열의 곱셉

x = 'hello'
print(x * 3)

helloworld
hellohellohello

In [18]:
# 1.3 문자열 인덱싱
    #013 3 456
s = '위니브 월드!'
print(s[0]) # 출력 : '위'
print(s[-1]) # 출력 : '!'
print(s[6]) # 범위를 벋어나면 에러가 뜬다 지금 문자열은 7이상은 에러가 발생 , 출력 : '!'

위
!
!

In [45]:
# 1.4 문자열 슬라이싱

s = '위니브 월드 외곽'

print(s[0:3]) #원하는 부분을 가져오고 싶으면 끝부분 지정 모르면 생략가능
print(s[0:9:4]) # 다른 일부분만 끊어서 가져 올수도 있다 4칸씩 출력

위니브
위월곽

In [49]:
s = 'weniv CEO licat'
# 시작점을 설정하고 끝까지 출력
print(s[6:]) # 출력 : CEO licat
# 전체 출력
print(s[:]) # 출력 : weniv CEO licat
# 거꾸로 출력
print(s[::-1]) # 출력 : tacil OEC tacli
# 2칸씩 출력
print(s[::2]) # 출력 : wnvCOlct

CEO licat
weniv CEO licat
tacil OEC vinew
wnvCOlct

In [50]:
s = 'weniv CEO licat'
s[10:100] #출력 : licat

'licat'

In [61]:
# 1.4 슬라이스 실습
s = 'weniv_licat.png'
# 1. 출력 weniv_licat 만 나오게
print(s[0:11])
# 2. 출력 png만 나오게
print(s[-3:])

weniv_licat
png

In [73]:
# 1.5 메서드 1 : 대문자 소문자

s = 'weniv CEO licat'
print(s.lower())
print(s.upper())

weniv ceo licat
WENIV CEO LICAT

In [74]:
s.index('CEO') # 해당하는 위치의 시작점

6

In [76]:
s.find('CTO') # 문자열을 찾아주는 method
# find는 안나오면 -1 index는 error가 뜬다

-1

In [77]:
#1.8 매서드 3 : count

s = 'weniv CEO licat'
s.count('CEO licat') #문자열이나 숫자를 셀 떄 사용

# 공백
# 대문자/고문자 구분
# 일치만하면 다 찾아줌

1

In [79]:
# 1.9 매서드 4 : strip / excel - trim()
# strip 함수를 너무 신뢰하지 말것
s = '   weniv CEO licat   '
s.strip() #양쪽 공백을 제거하는 method

'weniv CEO licat'

In [80]:
'       ,!!  hello world    '.strip(' ,!')
#양쪽의 공백과 ',!'을 제거해주는 method

'hello world'

In [84]:
# 1. 10 매서드 5 : repalce
s = 'wneiv CEO licat'
s.replace('ceo','CTO') # 대소문자를 구별하기에 정확히 입력해야 한다

'wneiv CEO licat'

In [86]:
s = 'wneiv CEO licat'
s.replace('i','I') # 문자열 내에서 모든 i를 I로 대처할 떄 사용하는 method

'wneIv CEO lIcat'

In [88]:
s = 'wneiv CEO licat'
ss = s.replace('i','I')
ss, s # 출력: ('wneIv CEO lIcat', 'wneiv CEO licat')

('wneIv CEO lIcat', 'wneiv CEO licat')

In [91]:
# 1.11 매서드 split()

s = 'wneiv CEO licat'
s.split() #공백을 기준으로 문자열 나누기

['wneiv', 'CEO', 'licat']

In [96]:
s = 'wneiv-CEO-licat'
print(s.split('-')) # 입력시 해당 기호 기준으로 나눈다
print(s.split()) # 공백 기준으로 하기에 공백없어서 그대로 나온다

['wneiv', 'CEO', 'licat']
['wneiv-CEO-licat']

In [100]:
s = ['wneiv', 'CEO', 'licat']
print('-'.join(s)) # 리스트를 하나의 문자열로 합치기
print(' '.join(s)) # 공백 입력시 띄어쓰기 한 상태로 문자열이 합쳐진다

wneiv-CEO-licat
wneiv CEO licat

In [102]:
name = input('이름을 입력하라')
age = input('나이를 입력하라')
print('나의 이름은 {}이고 나이는 {}살입니다'.format(name,age))

이름을 입력하라sasao
나이를 입력하라24
나의 이름은 sasao이고 나이는 24살입니다

In [105]:
# 1.12 isdigit / isalpha
print('abcd1234'.isalpha()) # 출력: False
print('안녕하세요'.isalpha()) # 출력: True
print('hello'.isalpha()) # 출력: True
print('hello world'.isalpha()) # 출력: False

False
True
True
False

In [111]:
# 1.13 rjust / ljust
s = 'licat' # 5글자 - 10글자를 채워야하면 5글자가 공백! -> -으로 채우는
s.rjust(10,'-') #문자열의 지정한 길이로 맞추고, 왼쪽을 '-'로 채우는 method

'-----licat'

In [112]:
s = 'licat' # 5글자 - 10글자를 채워야하면 5글자가 공백! -> -으로 채우는
s.ljust(10,'-') #문자열의 지정한 길이로 맞추고, 오른쪽을 '-'로 채우는 method

'licat-----'

In [114]:
s = '458934-1'
s.ljust(14, '*')

'458934-1******'

In [116]:
s = 'licat'
s.center(14, "-") # 짝이 맞을경우 양쪽 안 맞을 경우 오른쪽부터 채운다

'----licat-----'

In [124]:
# 1. 14 zfill
x = '42'
result = x.zfill(5)
print(result) # 00042

00042

In [125]:
y = '-42'
result = y.zfill(5)
print(result) # -0042

-0042

In [127]:
# 문자열
z = "abc"
result = z.zfill(5)
print(result) #00abc

00abc

In [128]:
년 = "23"
월 = "9"
일 = "8"
오늘날짜 =년 + 월 + 일
print(오늘날짜)
오늘날짜 = 년 + 월.zfill(2) + 일.zfill(2)
print(오늘날짜)

2398
230908

In [133]:
# 1.14 translate

#변환 테이블 사용
table = str.maketrans('abc','123')

In [134]:
text = 'abcde a b c abc'
result = text.translate(table)
print(result)

123de 1 2 3 123

In [135]:
# 'd' 와 'e' 문자 제거하기
table = str.maketrans('','','de')
text = 'abcde     d     ede d ed '
result = text.translate(table)
print(result)

abc

In [141]:
# 1.15 이스케이프

print("Hello\nWorld!") # Hello와 World! 사이에 줄바꿈이 일어납니다.
print("Hello\tWorld!") # Hello와 World! 사이에 탭 간격이 생깁니다.
print("She said, \"Hello World!\"") # 큰따옴표 내부에 문자열을 출력합니다.
print('She said, \'Hello World!\'') # 작은따옴표 내부에 문자열을 출력합니다.
print("Backslash: \\") # 백슬래시를 출력합니다.

Hello
World!
Hello	World!
She said, "Hello World!"
She said, 'Hello World!'
Backslash: \

#2. Bool

In [142]:
x = True
y = False
z = 10 > 3
print(x, y, z)

True False True

In [143]:
print(True == 1) # 출력: True
print(False == 0) # 출력: True

True
True

In [145]:
print(True + True) # 출력: 2
print(False - True) # 출력: -1
print(True / True) # 출력: 1.0
print(True * False) # 출력: 0
# print(True / False) # error

2
-1
1.0
0

#3. None

In [148]:
월드 = None
print(월드)

None

In [149]:
dir(None)

['__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [150]:
x = None

print(x == None)    # True, 하지만 이 방식은 권장되지 않습니다.
print(x is None)    # True, 이 방식을 사용하여 None을 확인하는 것이 좋습니다.

True
True

In [153]:
'010-1000-2000'.replace('0', 'x').split('-')
#split은 리스트로 정리하는데 이런경우 문자열이 아니라서 replace를 뒤에 사용하면 오류가 발생한다

['x1x', '1xxx', '2xxx']

In [157]:
# 1. 형변환 기본 예제

월급 = input("월급을 입력하세요:")
연봉 = int(월급) * 12 # 올바른 방식
print(연봉)

월급을 입력하세요:1000000000000
12000000000000

In [160]:
# 4.2 소수형 -> 정수형

f = 3.14159
number = int(f)
print(number)  # 출력: 3

3

In [162]:
# 4.3 불린 -> 정수형

true_int = int(True)
false_int = int(False)

print(true_int)  # 출력: 1
print(false_int)  # 출력: 0

1
0

In [ ]:
# 4.4 None 형변환
# None은 int형으로 변환이 가능하지 않습니다.

In [163]:
# 4.5 str 형변환
n = 123
print(type(n))

m = 123.4
print(type(n))

n = str(n)
print(type(n))

m = str(m)
print(type(m))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>

In [164]:
print("bool('test'):", bool('test'))
print("bool(' '):", bool(' '))
print("bool(''):", bool(''))
print("bool(100):", bool(100))
print("bool(1):", bool(1))
print("bool(0):", bool(0))
print("bool(-1):", bool(-1))
print("bool(None):", bool(None))
print("bool([]):", bool([]))
print("bool(tuple()):", bool(tuple()))
print("bool({}):", bool({}))
print("bool(set()):", bool(set()))

bool('test'): True
bool(' '): True
bool(''): False
bool(100): True
bool(1): True
bool(0): False
bool(-1): True
bool(None): False
bool([]): False
bool(tuple()): False
bool({}): False
bool(set()): False

In [173]:
s = 10
print(float(s))

s = '10'
print(float(s))

s = '3.14'
print(int(30.999))
print(float(s))

10.0
10.0
30
3.14

In [168]:
infinity = float('inf')
neg_infinity = float('-inf')
not_a_number = float('nan')

In [169]:
print(infinity)
print(neg_infinity)
print(not_a_number)

inf
-inf
nan

In [170]:
# map

list(map(int, ['10', '20', '30'])) # 출력: [10, 20, 30]

[10, 20, 30]

In [171]:
list(map(int, '12345')) # 출력: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

# 4. 산술연산

In [175]:
a = 10
b = 3
divide = a / b
print(f'{a} ÷ {b} = {divide:.2f}')  # 결과: 10 ÷ 3 = 3.33

10 ÷ 3 = 3.33

In [177]:
print(divide)

3.3333333333333335

In [183]:
# 1.2 나머지
print(10/3) # 소수 몫
print(10//3) # 정수 몫
print(10 % 3) # 결과: 1

3.3333333333333335
3
1

In [190]:
print(-2 ** 2)

-4

In [199]:
list('Hi' * 3)

['H', 'i', 'H', 'i', 'H', 'i']

In [200]:
# 비교 연산자
print(5 != 3) # 결과: True

True

In [201]:
import math

result = 0.1 + 0.2
print(result == 0.3)              # False
print(math.isclose(result, 0.3))  # True
print(math.isclose(result, 0.29)) # False
print(math.isclose(result, 0.31)) # False
print(math.isclose(result, 0.30000001)) # False

False
True
False
False
False