<a href="https://colab.research.google.com/github/Masterdual/orm2/blob/main/%EA%B3%BC%EC%A0%9C%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. 다음 숫자 중 5보다 크고, 20보다 작으면서 짝수인 수를 모두 더하는 코드를 완성 해주세요.
# 오늘 배운 filter 사용은 필수 입니다.

number = [1, 5, 7, 4, 3, 22, 23, 15, 26, 17, 3]
def solution(data)
    return

solution(number)

# 2. 다음에 정보가 담겨져 있는 것을 Class로 만들어주세요.
# 메서드로는 '할인' 메서드를 만들어주세요. 예를 들어 아래 책을 10% 할인한다고 하면 4500원이 됩니다.
# `책.할인(10) == 4500`의 형태로 만들어주시면 됩니다.
{
    '책제목': 'hello world python',
    '책 내용 요약': 'hello world...',
    '저자': '이호준',
    '발행일': '2024-01-11',
    '가격': 5000
}

# 3. 다음 문제를 풀고 정답을 제출해주세요.
# 3.1 https://100.pyalgo.co.kr/?page=10#
# 3.2 https://100.pyalgo.co.kr/?page=18#

In [29]:
# 1. 다음 숫자 중 5보다 크고, 20보다 작으면서 짝수인 수를 모두 더하는 코드를 완성 해주세요.
# 오늘 배운 filter 사용은 필수 입니다.

number = [1, 5, 7, 4, 3, 22, 23, 15, 26, 17, 3]

def solution(data):
    return sum(list(filter(lambda x: x % 2 == 0 and 5 < x < 20,data)))

print(solution(number))

0

In [28]:
number = [1, 5, 7, 4, 3, 22, 23, 15, 26, 17, 3]

sum(list(filter(lambda x: x % 2 == 0 and x > 5 and x < 20,number)))

0

In [58]:
# 2. 다음에 정보가 담겨져 있는 것을 Class로 만들어주세요.
# 메서드로는 '할인' 메서드를 만들어주세요. 예를 들어 아래 책을 10% 할인한다고 하면 4500원이 됩니다.
# `책.할인(10) == 4500`의 형태로 만들어주시면 됩니다.

book = {
    '책제목': 'hello world python',
    '책 내용 요약': 'hello world...',
    '저자': '이호준',
    '발행일': '2024-01-11',
    '가격': 5000
}
class bookshop():
    def __init__(self, book_name, book_story, author, date, price):
        self.book_name = book_name
        self.book_story = book_story
        self.author = author
        self.date = date
        self.price = price

    def 할인(self, x):
        return self.price * (1 - x / 100)

책 = bookshop(book['책제목'],book['책 내용 요약'],book['저자'],book['발행일'],book['가격'])

discounted_price = 책.할인(10)
print(int(discounted_price))

4500

In [31]:
price = 5000
def sale(x):
    return price * (1 - x * 0.01)
print(int(sale(10)))

4500

In [31]:
[['Licat', 98, 92, 85, 97],
['Mura', 95, 32, 51, 30],
['Binky', 98, 98, 51, 32],
['Gray', 98, 92, 85, 97],
['Gom', 98, 30, 21, 60],
['Allosa', 98, 90, 99, 98]]

def power():
    sorted

In [9]:
charactor = [['Licat', 98, 92, 85, 97],
['Mura', 95, 32, 51, 30],
['Binky', 98, 98, 51, 32],
['Gray', 98, 92, 85, 97],
['Gom', 98, 30, 21, 60],
['Allosa', 98, 90, 99, 98]]

power = sorted(list(filter(lambda x : sum(x[1:]) > 350, charactor)))

[['Allosa', 98, 90, 99, 98], ['Gray', 98, 92, 85, 97], ['Licat', 98, 92, 85, 97]]

In [11]:
# 입력 (기온 데이터)	출력 (상위 3일의 기온)
C = {'2024-01-01': 15,
     '2024-01-02': 17,
     '2024-01-03': 16,
     '2024-01-04': 20,
     '2024-01-05': 19,
     '2024-01-06': 21,
     '2024-01-07': 18}

sorted_C = dict(sorted(C.items(), key=lambda x: (-x[1], x[0]))[:3])

print(sorted_C)

{'2024-01-06': 21, '2024-01-04': 20, '2024-01-05': 19}